@media print{
    body{
        background-color:  white;
    }
    .background-first{
        background-color:  white;
        box-shadow: inset 17px -17px 0px 0px white, inset -17px 17px 0px 0px white;
    }
    #section{
        font-family: "Arila",sans-serif;        
        color: black;
        letter-spacing: -1px;
        font-size: 12px;
    }
    .button_little {
        text-decoration: none;
        color: white;
        text-align: center;
        display: inline-block;
        font-size: 10px;
    }
    .input{
        background-color: white;
        font-size: 90%;
    }
    .menu a {
        font-family: "brandon-grotesque","Arial",sans-serif;
        font-size: 20%;
        text-decoration: none;
        color: white;
        padding: 2px;
        display: inline-block;
        width: 8%;
        line-height: 50%;
    }

}

body{
    background-color: bisque;
}
.background-first{
    background-color: bisque;
    background-image: url("images/bg1.jpg");
    background-position: center;
    background-size: cover;
    min-height: 100%;
    /*box-shadow: inset 17px -17px 0px 0px bisque, inset -17px 17px 0px 0px bisque;*/
}

.menu {
    list-style: none;
    text-align: center;
}
.menu li {
    display: inline;
}
.menu a {
    font-family: "brandon-grotesque","Arial",sans-serif;
    font-size: 100%;
    text-transform: uppercase;
    text-decoration: none;
    color: bisque;
    padding: 10px;
    display: inline-block;
    width: 8%;
    line-height: 50%;
}
.menu-index {
    padding: 40px;
    list-style: none;
    text-align: center;
}
.menu-index li { 

    display: inline;
}
.menu-index a{
    margin-top: 80px;
    font-family: "brandon-grotesque","Arial",sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: bisque;
    padding: 10px;
    display: inline-block;
    width: 200px;
    line-height: 60%;
}
#login{
    display:inline;
    background-color: transparent;
    text-align: right;
    margin-right: 30px;
    font-size: 80%;
    font-family: "Arial",sans-serif;
    text-transform: uppercase;    
}
#odhlas{
    background-color: transparent; /* Green */
    border: 2px solid bisque;
    border-radius: 5px;
    color: bisque;
    padding: 4px 8px;
    text-align: right;
    text-transform: uppercase;
    font-size: 10px;
    margin: 5px 20px;
}
#odhlas:hover {
    background-color: bisque;
    color: #aa863a; 
    border: 2px solid bisque;
}


#section_top {
    /*margin-top: 100px;*/
    padding: 9%;
    font-family: "Agency FB",sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: bisque;
    letter-spacing: -3px;
    font-size: 10em;
}
#section{
    font-family: "Arila",sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: bisque;
    letter-spacing: -1px;
    font-size: 25px;
}
#regist{
    font-family: "Arila",sans-serif;
    /*text-transform: uppercase;*/
    text-align: right;
    margin-right: 40%;
    color: bisque;
    letter-spacing: -1px;
    font-size: 25px;
}

.button {
    background-color: transparent; /* Green */
    border: 2px solid bisque;
    border-radius: 5px;
    color: bisque;
    padding: 8px 16px;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    font-size: 29px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: bisque; 
    color: #aa863a; 
    border: 2px solid bisque;
}
.button_little {
    text-decoration: none;
    background-color: transparent; /* Green */
    border: 2px solid bisque;
    border-radius: 5px;
    color: bisque;
    padding: 2px 4px;
    text-align: center;
    /*text-transform: uppercase;*/
    display: inline-block;
    font-size: 15px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button_little:hover {
    background-color: bisque; 
    color: #aa863a; 
    border: 2px solid bisque;
}
.input{
    border: 2px solid bisque;
    border-radius: 5px;
    padding: 10px 10px;
    margin-bottom: 10px ;
    box-sizing: border-box;
    background-color: transparent;
    color: white;
    font-family: "Arila",sans-serif;
    text-align: center;
    font-size: 70%;

}
